*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 62.5%;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);


}


img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;

}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: white;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 4rem 11rem 4rem 8rem;
    z-index: 10;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 7.1rem;

}

.header__nav a:not(:last-child) {
    gap: 7.1rem;
}

.header__nav a {
    font-size: 1.6rem;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 150%;
}

.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__button {
    margin-left: 55.3rem;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
}

.main-display {
    padding-top: 27rem;
}

.main-display .container {
    position: relative;
    z-index: 3;
    padding-bottom: 22.8rem;
}

.main-display-header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 140%;

}

.main-display__timer {
    display: flex;
    margin-bottom: 7.6rem;
}

.main-display__button {
    background: linear-gradient(141deg, #df5950 0%, #451046 100%);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer__item:not(:last-child) {
    margin-right: 3rem;
}

.timer__count {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 140%;
}

.timer__text {
    font-size: 1.6rem;
    opacity: 0.4;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
}

.work {
    padding-top: 20rem;
    padding-bottom: 24.3rem;
}

.work__wrap {
    display: flex;
}

.work__img {
    width: 52.6rem;
    height: 49.9rem;
    margin-right: 13.9rem;
}

.work__text {
    max-width: 63.6rem;
    padding-top: 6.9rem;
}

.work__header {
    margin-bottom: 4.5rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.work__description {
    font-size: 1.6rem;
    line-height: 160%;
}

.process {
    position: relative;
    padding-bottom: 20rem;
}

.process__img {
    width: 12.7rem;
    height: 12.7rem;
    margin-right: 2rem;
}

.process__header {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
    margin-top: 3rem;
}

.process__title {
    display: flex;
}

.process__description {
    max-width: 41.1rem;
    margin-bottom: 8rem;
    font-size: 1.6rem;
    line-height: 160%;
}

.process__columns {
    display: flex;
}

.process__columns::after {
    content: '';
    display: block;
    width: 130rem;
    height: 0.2rem;
    position: absolute;
    top: 33rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);

}

.process__item {
    max-width: 30rem;
}

.process__work {
    margin-bottom: 6.5rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 140%;
}

.process__text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
}
